*, *::after, *::before {
    box-sizing: border-box;
  }
  
  :root {
    --hue: 200;
    --saturation: 50%;
    --foreground-color: hsl(var(--hue), var(--saturation), 75%);
    --background-color: hsl(var(--hue), var(--saturation), 20%);
  }
  
  body {
    margin: 0;
    background-color: var(--background-color);
    overflow: hidden;
  }
  
  .paddle {
    --position: 50;
  
    position: absolute;
    background-color: var(--foreground-color);
    top: calc(var(--position) * 1vh);
    transform: translateY(-50%);
    width: 1vh;
    height: 10vh;
  }
  
  .paddle.left {
    left: 1vw;
  }
  
  .paddle.right {
    right: 1vw;
  }
  
  .ball {
    --x: 50;
    --y: 50;
  
    position: absolute;
    background-color: var(--foreground-color);
    left: calc(var(--x) * 1vw);
    top: calc(var(--y) * 1vh);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 2.5vh;
    height: 2.5vh;
  }
  
  .score {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: var(--foreground-color);
  }
  
  .score > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 2vh;
    margin: 1vh 0;
    opacity: .5;
  }
  
  .score > :first-child {
    text-align: right;
    border-right: .5vh solid var(--foreground-color);
  }

/*Button*/
  
  .btn-3d-1 {
    margin-top: 350px;
    margin-left: 430px;
    position: relative;
    background: orangered;
    border: none;
    color: white;
    padding: 15px 24px;
    font-size: 1.4 rem;
    box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
    outline:none
}

.btn-3d-1:hover{
    background: hsl(16, 100%, 45%);
}

.btn-3d-1:active {
    background: hsl(16, 100%, 40%);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0;
}

.btn-3d-1::before {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;

    border: solid 6px transparent;
    border-right:solid 6px hsl(16, 100%, 30%) ;
    border-left-width: 0px;
    background: none;
    top: 0px;
    left: -6px;
}

.btn-3d-1::after {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;

    border: solid 6px transparent;
    border-top: solid 6px hsl(16, 100%, 30%);
    border-bottom-width: 0px;
    right: 0px;
    bottom: -6px;

}

.btn-3d-1:active::before {
    border-color: transparent;
}

.btn-3d-1:active::after {
    border-color: transparent;
}